.main_header {
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem, 0;
    height: 100px;

    ul,
    ol,
    menu {
        list-style: none;

    }

    a {
        color: currentColor;
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }
}

.logo-header {
    max-height: 50px;
    width: 50px;
}



.nav {
    display: flex;
    margin-right: auto;
}

.list {
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_link {
    padding: 0 0.75rem;
    line-height: 1, 5rem;
    display: flex;
}